/* You can add global styles to this file, and also import other style files */
html {
  font: normal 16px/1.5 "Helvetica Neue", sans-serif;
  background-color: #456990;
  color: #fff;
  margin: 0px;
  padding: 0px 0px 500px 0px;
}
